$lightOrange: rgb(237, 107, 33);
$darkOrange: #e24e26;
$orange: #ff5c00;
$purple: #653fda;
$fontBlack: rgba(0, 0, 0, 0.9);
$fontGrey: #a5a4a8;

:export {
  $lightOrange: rgb(237, 107, 33);
  $darkOrange: #e24e26;
  $orange: #ff5c00;
  $purple: #653fda;
  $fontBlack: rgba(0, 0, 0, 0.9);
  $fontGrey: #a5a4a8;
}
